:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

perfect-scrollbar {
  padding: 0 10%;
}

.loading,
.no-results {
  font-size: 24px;
  text-align: center;
}
